* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app-header {
  display: flex;
  padding:3px;
  background: black;
  color: white;
  width: 100%;
  margin-bottom: 0px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.completed-section {
  height: 100vh;
  background: gray;
}

.wrapper {
  padding: 10px;
  display:flex;
  flex-wrap: wrap;
  }

.wrapper .task {
   height: 100px;
  border: 1px solid #c9c8c8;
  margin: 3px;
  padding: 10px;
  user-select: none;
  display: flex;
  text-align: center;
  align-items: center;
  width: 150px;
  
}
.task:nth-child(odd) {
  background: #FFB9C4;
color:#000;
}
.task:nth-child(even) {
  background: #9A91AC;
  color: #FFF;
}

.completed-header{
  width: 100%;
  text-align: center;
  background:  #AEAEAE;
  color: #000;
  padding: 5px;
  margin-bottom: 0px;
  font-weight: bold;
}

.wip {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.task.complete {
  height: 40px;
  width: 100%;
  background: #77DD77;
  line-height: 10px;
  border: 1px dashed green;
}

.debug {
  margin: 0;
  background: black;
  color: white;
  padding: 5px;
}

.trash {
  margin: 0;
  padding:0;
  width: 100%;
  height: 200px;
  background: red;
}

.modal-dialog {
  width: 300px;
  height: 200px;
  background-color: lightgray;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 200px;
}

.task-form-1{
  display: flex;
  position: absolute;
  background-color: blue;
  width: 400px;
  height: 250px;
  /* top: 100%; */
  left: 35%;
  bottom: 500px;
  justify-content: space-between;
}

.modal-header {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-around;
}

.modal {
  display: block;
  width: 300px;
  height: 200;
  background-color: #FFB9C4;
  position: absolute;
  top: 40%;
  left: 40%;
  margin: 10px;
  box-sizing: border-box;
}
.task-form-col-1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 10px;
}
.task-form-row-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 2;
  
}
.task-form-row-2 {
  flex: 1;
  align-items: center;
}
.btn-primary {
  align-items: center;
}

.task-list-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap; 
  flex: 1;
}